<p id="notice"><%= notice %></p>

<p>
  <strong>Number train:</strong>
  <%= @train.number_train %>
</p>

<p>
  <strong>Назначен маршрут:</strong>
  <% if @train.route.present? %>
  <%= @train.route.name %>
  <% else %>
  Не указано
  <% end %>
</p>

<p>
  <strong>Текущая станция:</strong>
  <% if @train.current_station.present? %>
  <%= @train.current_station.title %>
  <% else %>
  Не указано
  <% end %>
</p>

<p>
  <strong>Информация по вагонам:</strong>
Всего вагонов:
  <%= @train.wagons.count %>
</p>
<p>
Всего плацкартных вагонов:

<%= @train.wagons.economy.count %>
</p>

<p>
Всего купейных вагонов:

<%= @train.wagons.coupe.count %>
</p>

<p>
Всего СВ вагонов:

<%= @train.wagons.sv.count %>
</p>

<p>
Всего сидячих вагонов:

<%= @train.wagons.seating.count %>
</p>

<p>
Кол-во мест в купейных вагонах:

<%= @train.count_wagon_seats('CoupeWagon') %>
  
</p>

<p>
Кол-во мест в плацкартных вагонах:

<%= @train.count_wagon_seats('EconomyWagon') %>

</p>

<p>
Кол-во мест в СВ вагонах:

<%= @train.count_wagon_seats('SvWagon') %>
  
</p>

<p>
Кол-во мест в сидячих вагонах:

<%= @train.count_wagon_seats('SeatingWagon') %>
  
</p>

<p>Номера вагонов в составе:

<% @train.wagons.each do |wagon| %>
<ul><li><%= link_to "Вагон № #{wagon.number_wagon}", wagon.train %></li></ul>
<% end %>
</p>

<div><%= link_to "Добавить вагон", new_train_wagon_path(@train) %></div>
 
<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
