<h1>Результаты поиска</h1>
<%= form_tag(controller: "ticket", action: "new", method: "post") %>
<% @search_result.each do |train| %>
<p>Поезд: <%= train.number_train %>, 
Маршрут: <%= train.route.name %>, 
Время отправления: <% train.route.railway_stations_routes.each do |station| %>
<%= station.arrival %> 
Время прибытия: <%= station.departure %></p>

<% end %>
<% end %>