<h1>Поиск билетов</h1>

<div class="row">
  <%= form_tag(search_train_search_path, method: "post", class: 'search_form') do %>
  <div class="col-md-4">
    <strong><%= label_tag(:q, "Выберите начальную станцию:") %></strong>
    <select name="start_station_id" class='form-control'>
      <% @railway_stations.each do |station| %>
      <option value="<%= station.id %>"><%= station.title %></option> 
      <% end %>
    </select>
  </div>
  <div class="col-md-4">
    <strong><%= label_tag(:q, "Выберите конечную станцию:") %></strong>
    <select name="end_station_id" class='form-control'>
      <% @railway_stations.each do |station| %>
      <option value="<%= station.id %>"><%= station.title %></option> 
      <% end %>
    </select>
  </div><br>
  <div class="col-md-4">
      <%= submit_tag "Найти", class: 'btn btn-primary find' %>
  </div>
  <% end %>
</div>